[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/misharasandalidesilva/Clothing-shop-platform-eureka-server.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/misharasandalidesilva/Clothing-shop-platform-api-gateway.git